[Unit]
Description=hypercorn instance to serve Kappa-ChatGPT
After=network.target

[Service]
User=namin
Group=www-data
WorkingDirectory=/var/www/Kappa-ChatGPT
Environment="PATH=/var/www/Kappa-ChatGPT/io-gpt-env/bin"
ExecStart=/var/www/Kappa-ChatGPT/io-gpt-env/bin/hypercorn -b unix:io-gpt.sock -w 3 -g 33 -m 775 main:app

[Install]
WantedBy=multi-user.target
